main {
    height: 100vh;
}

header {
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 100;
}

.sps-home-content-container {
    margin: 70px 0 0 21%;
}

.sps-home-content-flex {
    display: flex;
    
}

.sps-notfound-section {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.sps-notfound-section h1 {
    color: #FF0101;
    font-size: 36px;
}

.sps-notfound-section a {
    color: #000;
}

@media screen and (max-width: 1450px) {
    .sps-home-content-flex {
        display: block;   
    }
}